#board{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../images/board.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.point{
    height: 5.56vw;
    width: 14.81vw; 
    transform: skewX(-36.6055deg);
    position: fixed;
    background-color: red;
}