#board{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../images/board.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.point{
    height: 2.8645vh;
    width: 8.8541vh; 
    transform: skewX(-20deg);
    position: fixed;
    background-color: none;
}